body {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding: 100px;
    
}

div {
    border: 0.5px solid grey;
    height: 30px;
    width: 250px;
    box-sizing: border-box;
    padding-top: 5px;
    border-radius: 2px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: rgb(230, 228, 228);
    
}

.track {
    background-color: rgba(223, 191, 12, 0.747);
    /* border-radius: 2px;
    margin-bottom: 20px;
    text-decoration: none; */
   
}




a:link {
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
}